h1, h2, h3, h4, h5, h6, p, img{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body{
    padding: 0;
    margin: 0;
    background-color: rgb(254, 255, 241);
}

header{
    background-color: rgba(26, 26, 26, 0.164);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
}

footer{
    padding: 0;
    margin: 0;
    background-color: rgba(26, 26, 26, 0.164);
    width: 100%;
    height: 150px;
}

h1{
    /* display: block; */
    /* margin: 0; */
    /* position: relative; */
    /* top: 20px; */
}

a{
    text-decoration: none;
}

/* id */

#main-content{
    /* background-color: aquamarine;
    border: 5px solid yellowgreen; */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

/* class */

.private-element{
    display: none;
}

.link-in-page{
    background-color: #009dfa;
    text-align: center;
}

/*===================================
* header
===================================*/
.header-logo{
    /* border: 5px solid black; */
    position: relative;
    text-align: center;
    margin: 0;
    height: 100%;
}

.header-title{
    /* border: 1px solid black; */
    text-decoration: none;
    color: black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*===================================
* main
===================================*/
.main-text{
    font-size: 15px;
}

.separator_line{
    display: block;
    background-color: black;
    width: 100%;
    height: 2px;
    border: 0;
}

/*===================================
* links
===================================*/
.twitter-contact{
    margin: 30px;
    position: relative;
    top: 40px;
}

.twitter-contact{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: #009dfa;
    text-decoration: none;
    border-radius: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.twitter-contact:hover{
    opacity: 0.9;
}

/*===================================
* footer
===================================*/
.footer-list{
    text-align: center;
    font-size: 20px;
}

.return-top{
    position: relative;
    text-align: center;
    margin: 0;
    height: 100%;
}

.return-top a{
    position: absolute;
    display: block;
    font-size: 20px;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}